* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
}

@media ( width>=400px){
    body{
        width: 400px;
    }

    header{
        background-color: gray;
        padding: 20px;
        text-align: center;
    }

    main aside{
        background-color: lightgray;
        padding: 20px;
        text-align: center;
    }

    ol{
        list-style-type: none;
    }

    article img{
        width: 100%;
        padding: 10px 0px;
    }

    h1{
        text-align: left;
        padding: 20px 0px 0px 20px;
    }

    footer{
        background-color: red;
        padding: 20px;
        color: white;
        text-align: center;
    }

    article{
        background-color: yellow;
        padding: 20px;
    }

    article h1{
        padding: 0px 20px 20px 0px;
    }

    article h2{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (width>=1000px){
    body{
        width: 1000px;
    }

    header h1{
        display: inline;
        text-align: center;
    }

    aside{
        float: left;
        width: 15%;
    }

    article{
        float: left;
        width: 85%;
    }

    main{
        overflow: hidden;
        background-color: lightgrey;
    }

    article img{
        float: left;
        width: 300px;
        padding-right: 20px
        
    }


}
